.score {
  background-color: #FF1493;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Merienda";
}

.header {
  font-family: "Merienda";
  font-weight: bold;
}
#root {
  background-image: "image(public/images/background.jpg)";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;

}

h4 {
  font-style: bold;
  text-align: center;
  color: #98FB98;
  font-weight: bolder;
  font-size: xx-large;
}
h6 {
  font-style: bold;
  display: block;
  cursor: default;
  font-family: "Merienda";
  color: antiquewhite;
}

h4:hover {
  color: #f5f5dc;
  background-color: #e52b50;
  display: inline;
}

h6:hover {
  color: #f5f5dc;
  background-color: #e52b50;
  display: inline;
}

#tagline {
    text-align: center !important;
    padding-bottom: 10px !important;
    font-size: xx-large !important;
    text-emphasis: bold !important;
}

.col-left {
  font-family: "Open Sans Condensed";
  text-align: left;
  padding-left: 10px;
}

.col-right {
  font-family: "Open Sans Condensed";
  text-align: right;
  padding-top: 10px;
  padding-right: inherit;
}

.alert-danger {
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  color: #f5f5dc;
  background-color: rgba(255, 0, 0, 0.658) !important;
  cursor: default;
}

.alert-danger:hover {
  color: #f5f5dc;
  background-color: #000 !important;
}

.alert-success {
  font-family: "Merienda";
  text-transform: uppercase;
  color: #f5f5dc;
  background-color: #03c03c !important;
  cursor: default;
}

.alert-success:hover {
  color: #f5f5dc;
  background-color: #008000 !important;
}


.footer {
  font-family: "Merienda";
  background-color: #0000FF;
  color: #f5f5dc;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 25px;
}
.footer:hover {
  background-color: #f5f5dc;
  color: #DC143C;
}
.footer a {
  color: #f5f5dc;
}
.footer a:hover {
  color:#DC143C;
}
